@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Rubik', sans-serif;
}

h1{
  font-size: 40px !important;
  width: 600px; 
  font-family: 'REM', sans-serif;
}
p{
  font-family: 'REM', sans-serif;
}

small{
  font-family: 'Inclusive Sans', sans-serif;
}

.logo{
  font-family: 'Major Birch', sans-serif;
  color:rgb(255, 183, 0);
  font-size: 30px;
}
.logo1{
  font-family: 'Major Birch', sans-serif;
  color:rgb(255, 184, 6);
  font-size: 20px;
}

.nav-button {
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  font-family: 'Rubik', sans-serif !important;
  border-radius: 0% !important;
}

.nav-button.active {
  border-bottom: 2px solid goldenrod;
}


.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: goldenrod;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.253);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

